{% extends "base.html" %}
<article class="container">
    {% block header %}

        {% include 'config/navigation_bar.html' %}

    {% endblock %}
</article>
{% block contenido %}
    <div class="container center-block">
        <a href='{% url "todolist_guardar" %}' class="btn btn-primary">Agregar nuevo todo list</a>
    </div>
    <blockquote>
        <p>Lista de todo list.</p>
    </blockquote>
    <ul>
        {% for object in object_list %}
            <table class="table table-striped table-hover">
                <tr>
                    <td style="width: 20%">
                        <p class="text-info">Titulo: </p>
                        {{ object.title | upper }}
                    </td>
                    <td style="width: 30%">
                        <p class="text-info">Descripción: </p>
                        {{ object.description | capfirst }}
                    </td>
                    <td style="width: 10%">
                        <p class="text-info">Creada por:</p>
                        {{ object.created_user | upper}}
                    </td>
                    <td style="width: 10%">
                        <p class="text-info">Fecha de creación: </p>
                        {{ object.created_at }}
                    </td>
                    <td style="width: 10%">
                        <p class="text-info">Compartida con: </p>
                        <li>
                            {% for users in object.share_with.all %}
                                <ul>
                                    {{ users | upper}}
                                </ul>
                            {% endfor %}
                        </li>
                    </td>
                    <td style="width: 10%">
                        <a href='{% url "todolist_detalles" object.id %}' class="btn btn-primary">Detalles</a>
                    </td>

                </tr>
            </table>
        {% empty %}
            <li>
                Aún no hay todo list registrados
            </li>
        {% endfor %}
    </ul>

{% endblock %}