{% extends 'base.html' %}

{% block header %}

    <div class="page-header">
        <small>Bienvenido a
            <h1>SocialTodoList</h1>
        </small>
    </div>

{% endblock %}


{% block contenido %}

    <div class="row well well-lg">
        <div class="col-md-6">
            <p>

                <legend>Formulario de ingreso</legend>
            <form id='formulario' method='post' action='' class="form-horizontal"
                  role="form">{% csrf_token %}
                {{ formulario.as_p }}
                <input type="submit" value="Ingresar" class="btn btn-primary button-loading"/>
            </form>
            </p>
        </div>
        <div class="col-md-2">
            <p><a href="{% url "registrar_usuario" %}" class="btn btn-primary button-loading b">Registrarse</a></p>
        </div>
    </div>


{% endblock %}